.loginBoxWrapper {
    height: 100vh;
    width: 100%;

    background: #17171a url('../../assets/banner-girl.png') no-repeat center top;

    padding: 24rem 5rem 0;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    strong {
        font-size: 32px;
        line-height: 36px;
    }

    .signInWithGithub {
        background: #ffcd1e;
        margin-top: 2rem;
        padding: 0 2.5rem;
        height: 3.5rem;
        color: #09090a;
        font-size: 0.8rem;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;

        border-radius: 0.2rem;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin-right: 1rem;
        }

        &:hover {
            filter: brightness(0.9);
        }
    }

    @media(max-width: 1080px){
        padding: 32rem 3rem 8rem;
        font-size: 0.8rem;

        background-size: 23rem;
        
        .signInWithGithub {
            font-size: 1rem;
            padding: 1rem;

            svg {
                margin-right: 0.5rem;
            }
        }
    }
}