.contentWrapper {
    max-width: 1200px;
    height: 100vh;

    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 28.5rem;
    column-gap: 120px;
    position: relative;

    @media(max-width: 968px){
        display: flex;
        flex-direction: column;
        
        justify-content: center;
    }
}